{{!-- {{> post-info post}} --}}

<div class="card">
  <div class="card-heading">
    <h2>
      <a href="/post/{{id}}">{{title}}</a>
    </h2>
    <div>
      Posted by
      {{User.username}}
      on
      {{format_date createdAt}}
    </div>
  </div>
  <div class="card-body">
    {{body}}
  </div>
</div>

{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit" class="button">Add Comment</button>
    </div>
</form>
{{/if}}

{{> comments Comments}}
{{!-- <div class="comments">
  {{#each Comments}}
  <section class="comment">
    <div class="meta">
      {{User.username}} on {{format_date createdAt}}
    </div>
    <div class="text">
      {{body}}
    </div>
  </section>
  {{/each}}
</div> --}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}